<h1>解答一覧</h1>

<table class="table">
  <tr>
    <th>#</th>
    <th>状態</th>
  </tr>
  <% @solutions.each do |s| %>
    <tr>
      <td><%= link_to s.id, solution_path(s) %></td>
      <td><%= s.status %></td>
    </tr>
  <% end %>
</table>

<%= link_to '解答を投稿', new_solution_path, class: 'btn btn-primary' %>
