<h1>解答 #<%= @solution.id %></h1>

<pre><code><%= @solution.source %></code></pre>
<p>
  <%= link_to 'edit', edit_solution_path(@solution) %>
  <%= link_to 'delete', solution_path(@solution), method: :delete, data: { confirm: '本当に削除しますか?' } %>
</p>
